@font-face {
  font-family: "TT Chocolates ExtraLight";
  font-style: normal;
  font-weight: normal;
  src: local("TT Chocolates ExtraLight"),
    url("./style/fonts/TT\ Chocolates\ ExtraLight.woff") format("woff");
}
